<section class="content-header">
    <h1>Chủ đề</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
        <li><a ui-sref="topic">Chủ đề</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmAddTopic" role="form" ng-submit="AddTopic()">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tên</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Ten" required ng-maxlength="256" ng-change="GetSeoTitle()" ng-model="topic.Name">
                        <span ng-show="frmAddTopic.Ten.$invalid" class="has-error" >Phải nhập tên chủ đề</span>
                        <span ng-show="frmAddTopic.Ten.$error.maxlength" class="has-error">Tên chủ đề chỉ dài không quá 256 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tên seo</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required name="Seo" ng-model="topic.Seo">
                        <span ng-show="frmAddTopic.Seo.$invalid" class="has-error">Phải nhập tiêu đề SEO</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Danh mục cha</label>
                    <div class="col-sm-10">
                        <select name="ParentID" class="form-control" ng-model="topic.ParentID" ng-options="option.ID as option.Name for option in Parent">
                            <option value="">Danh mục gốc</option>
                        </select>
                        <input type="hidden" name="ParentID" ng-model="topic.ParentID" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label" >Mô tả</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="Mota" ng-model="topic.Description" ng-maxlength="500"></textarea>
                        <span ng-show="frmAddTopic.Description.$error.maxlength" class="has-error">Mô tả không quá 500 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Hình ảnh</label>
                    <div class="col-sm-10"></div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tag</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Tag" ng-model="topic.Tag">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="Trangthai" ng-model="topic.Status" ng-checked="topic.Status" />Kích hoạt
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button class="btn btn-default" ui-sref="topic">Hủy</button>
                <button type="submit" class="btn btn-info pull-right" ng-disabled="frmAddTopic.$invalid">Thêm mới</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
</section>