<section class="content-header">
    <h1>
        Chủ đề
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#">Chủ đề</a></li>
        <li class="active">Danh mục chủ đề</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Danh mục chủ đề</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Từ khóa..." ng-model="keyword" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="search()">Tìm kiếm</button>

                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-sm btn-success" ui-sref="add_topic">Thêm mới</button>
                    <button class="btn btn-sm btn-danger" type="button" id="btnDelete" disabled ng-click="deleteMultiple()">Xóa</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box-body">
                        <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <th style="width:30px;"><label><input type="checkbox" name="all" ng-click="selectAll()" /></label></th>
                                <th style="width: 5%">Id</th>
                                <th style="width: 5%">Img</th>
                                <th >Tên chủ đề</th>
                                <th style="width:5%">Lượt xem</th>
                                <th style="width:10%">Ngày tạo</th>
                                <th style="width: 10%">Trang chủ</th>
                                <th style="width: 10%">Trạng thái</th>
                                <th style="width:10%">Thao tác</th>
                            </tr>
                            <tr ng-repeat="topic in topics">
                                <td><input type="checkbox" name="all" ng-model="topic.checked" /></td>
                                <td>#{{topic.ID}}</td>
                                <td></td>
                                <td style="text-align:left;">{{topic.Name}}</td>
                                <td style="text-align:center">{{topic.ViewCount}}</td>
                                <td>{{topic.CreatedDate | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                                <td><span ng-class="{'badge bg-red':topic.HomeFlag==false,'badge bg-green':topic.HomeFlag==true}">{{topic.HomeFlag | statusFilter}}</span></td>
                                <td><span ng-class="{'badge bg-red':topic.Status==false,'badge bg-green':topic.Status==true}">{{topic.Status | statusFilter}}</span></td>
                                <td>
                                    <button class="btn btn-sm btn-primary" ui-sref="edit_topic({id:topic.ID})"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-sm btn-danger" ng-click="deleteTopic(topic.ID)"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                            <tfoot>
                                <tr>
                                    <td colspan="9"><span class="pull-right">Trang: {{page+1}} | Tổng số bản ghi {{TotalCount}}</span></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <pager-directive page="{{page}}" custom-path="{{custom-path}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getChude(page)"></pager-directive>
        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->