<section class="content-header">
    <h1>Câu hỏi</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
        <li><a ui-sref="cauhoi">Câu hỏi</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmAddCauhoi" role="form" ng-submit="AddCauhoi()">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Nội dung câu hỏi</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="noidung" ckeditor="ckeditorOptions" required ng-maxlength="200" ng-model="cauhoi.Noidung"></textarea>
                        <span ng-show="frmAddCauhoi.noidung.$invalid" class="has-error">Phải nhập nội dung câu hỏi</span>
                        <span ng-show="frmAddCauhoi.noidung.$error.maxlength" class="has-error">Nội dung câu hỏi có độ dài không quá 2000 ký tự</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Gợi ý trả lời</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Goiy" ng-model="cauhoi.Goiy">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Hình ảnh</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="cauhoi.Image" />
                        <button type="button" class="btn btn-default" ng-click="ChoseImage()">Chọn ảnh</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tag</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Tag" ng-model="cauhoi.Tag">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="Trangthai" ng-model="cauhoi.Trangthai" ng-checked="cauhoi.Trangthai" />Kích hoạt
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Đáp án</label>
                    <div class="col-sm-10">
                        <div class="box box-default no-border">
                            <div class="box-body no-border">
                                <ul class="todo-list" ui-sortable="sortableOptions" ng-model="dapans" name="dapanUL">
                                    <li ng-repeat="item in dapans">
                                        <span class="handle ui-sortable-handle">
                                            <i class="fa fa-arrows fa-lg"></i>
                                        </span>
                                        <small class="badge bg-green">{{item.Ma}}</small>
                                        <span class="text" style="width:50%;">
                                            <input type="text" class="form-control" placeholder="Nội dung đáp án..." ng-model="item.Noidung" required name="NoidungDapan"/>
                                            
                                         </span>
                                        <small><button type="button" ng-class="{'btn btn-xs btn-success':item.Dungsai==true,'btn btn-xs btn-danger':item.Dungsai==false}" ng-click="item.Dungsai=!item.Dungsai">{{item.Dungsai | dapanDungsaiFilter}}</button></small>
                                        <span ng-show="frmAddCauhoi.NoidungDapan.$invalid" class="has-error">Nội dung đáp án không bỏ trống</span>
                                         <div class="tools">
                                            <i class="fa fa-trash" ng-click="XoaDapan(item)"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="box-footer clearfix no-border">
                                
                                <button type="button" class="btn btn-default btn-sm pull-right" ng-click="ThemDapan()" ><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button class="btn btn-default" ui-sref="chude">Hủy</button>
                <button type="submit" class="btn btn-info pull-right" ng-disabled="frmAddCauhoi.$invalid">Thêm mới</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
</section>