<section class="content-header">
    <h1>Tạo đề thi</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
        <li><a ui-sref="exam">Đề thi</a></li>
        <li class="active">Tạo đề thi</li>
    </ol>
</section>
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Thông tin đề thi</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmAddExam" role="form" ng-submit="AddExam()">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tiêu đề</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Name" required ng-maxlength="256" ng-change="GetSeoTitle()" ng-model="exam.Name">
                        <span ng-show="frmAddExam.Name.$invalid" class="has-error">Phải nhập tiêu đề</span>
                        <span ng-show="frmAddExam.Name.$error.maxlength" class="has-error">Tiêu đề chỉ dài không quá 256 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tiêu đề seo</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required name="Seo" ng-model="exam.Seo">
                        <span ng-show="frmAddExam.Seo.$invalid" class="has-error">Phải nhập tiêu đề SEO</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Mô tả</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="Description" ng-model="exam.Description" ng-maxlength="500"></textarea>
                        <span ng-show="frmAddExam.Description.$error.maxlength" class="has-error">Mô tả không quá 500 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tag</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Tag" ng-model="exam.Tag">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Thời gian làm bài</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="TimeToDo" ng-model="exam.TimeToDo">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="Trangthai" ng-model="exam.Status" ng-checked="exam.Status" />Kích hoạt
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="box box-primary">
        <div class="box-header">
            <h4 class="box-title">Danh sách câu hỏi</h4>
            <div class="pull-right box-tools">
                <button class="btn btn-box-tool" data-toggle="modal" data-target="#addQuestionModal"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-hover">
                <tr>
                    <th style="width:30px;">STT</th>
                    <th>Nội dung</th>
                    <th style="width:20%">Chủ đề</th>
                    <th style="width:100px;">Thao tác</th>
                </tr>
                <tr ng-repeat="selectedQuestion in listCheckedQuestion">
                    <td>{{$index+1}}</td>
                    <td class="text-left">{{selectedQuestion.Content}}</td>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" ng-click="removeSelectedQuestion(selectedQuestion)"><i class="fa fa-remove"></i></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-default btn-lg" ui-sref="exam">Hủy</button>
        <button class="btn btn-primary btn-lg" ng-disabled="frmAddExam.$invalid" ng-click="UpdateExam()">Lưu</button>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="addQuestionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Danh sách câu hỏi</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="input-group input-group-sm pull-left">
                        <select name="topicID" class="form-control" ng-model="topicID" ng-options="topic.ID as topic.Name for topic in Topics" ng-change="changeTopic()">
                            <option value="">Tất cả chủ để</option>
                        </select>
                    </div>
                    <div class="input-group input-group-sm pull-right col-md-5">
                        <input type="text" class="form-control" ng-model="keyword">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-flat" ng-click="search()"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <table class="table table-hover table-bordered">
                        <tr>
                            <th style="width:30px;"><input type="checkbox" name="all" ng-click="selectAllUnSelectQuestion()" /></th>
                            <th style="width:30px;">ID</th>
                            <th>Nội dung</th>
                            <th style="width:20%;">Chủ đề</th>
                        </tr>
                        <tr ng-repeat="uncheckedQuestion in listUncheckedQuestion">
                            <td><input type="checkbox" name="all" ng-model="uncheckedQuestion.checked"></td>
                            <td>{{uncheckedQuestion.ID}}</td>
                            <td class="text-left">{{uncheckedQuestion.Content}}</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" ng-click="addSelectedQuestion()">Thêm</button>
            </div>
        </div>
    </div>
</div>